pydantic
pyyaml

# Vector store
faiss-cpu


# Core RAG
llama-index
llama-index-embeddings-openai
llama-index-vector-stores-faiss

# Embeddings
openai
sentence-transformers


# Database
psycopg2-binary
sqlalchemy>=2.0
sqlite3

# Authentication & Security
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0

# AWS
boto3

# API
fastapi
uvicorn[standard]

# File extraction
pymupdf
python-docx
python-pptx
pandas
openpyxl

# OCR
pytesseract
pillow
pdf2image

# Utilities
numpy
python-dotenv
requests

# Optional (only if using readers)
llama-index-readers-file